.services-section {
  margin: 3rem auto 2rem; /* Centering with margin-top to avoid navbar overlap */
  padding: 2rem;
  /* background-color: #f4f4f4; */
  text-align: center;
}

.services-title {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.service-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.service-card:hover {
  transform: translateY(-10px);
}

.service-icon {
  font-size: 3rem;
  color: #4CAF50;
  margin-bottom: 15px;
}

.service-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.service-description {
  font-size: 1rem;
  color: #666;
}
.service-icon {
  color: #8a2be2; /* Change icon color */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 10px;
}
